$BG_COLOR: #F3F0E9;
$MAIN_ACCENT_COLOR: #AA2C2C;
$SECONDARY_ACCENT_COLOR: #1A6666;
$LINK_COLOR: $SECONDARY_ACCENT_COLOR;

$POSITIVE_COLOR: #557825;
$NEGATIVE_COLOR: $MAIN_ACCENT_COLOR;

$MAX_PROFPIC_WIDTH: 150px;
$MAX_PROFPIC_HEIGHT: 150px;

$MAIN_FONT: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
$SECONDARY_FONT: Monaco, Consolas, "Lucida Console", monospace;

@mixin transformed($transform){
    transform:$transform;
    -ms-transform:$transform; // IE 9
    -moz-transform:$transform; // Firefox
    -webkit-transform:$transform; // Safari and Chrome
    -o-transform:$transform; // Opera
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    src: url("../fonts/Avenir.ttc") format("truetype");
}

body, html{
    background-color: $BG_COLOR;
    font-family: $MAIN_FONT;
}

a{
    color: $LINK_COLOR;
    &:hover{
        color: lighten($LINK_COLOR, 5%);
    }
}

hr {
    border-top: 1px solid $MAIN_ACCENT_COLOR;
}

.btn.btn-primary{
    $MAIN_COLOR: lighten($SECONDARY_ACCENT_COLOR, 10%);
    $BORDER_COLOR: darken($MAIN_COLOR, 1%);

    background-color: $MAIN_COLOR;
    border-color: $BORDER_COLOR;
    &:hover{
        background-color: lighten($MAIN_COLOR, 5%);
        border-color: lighten($BORDER_COLOR, 5%);
    }
}

#main-header{
    border-bottom: 1px solid darken($BG_COLOR, 15%);
    margin-bottom: 0;
}

#main-content{
    margin-bottom: 2em;
}

#site-title{
    font-family: $SECONDARY_FONT;
    color: $MAIN_ACCENT_COLOR;
}

#site-header-tabs{
    & li > a{
        border-bottom: 1px solid transparent;

        &:hover{
            border-bottom: 1px solid $SECONDARY_ACCENT_COLOR;
            background-color: mix($SECONDARY_ACCENT_COLOR, #fff, 10%);
        }
    }
}

#user-button{
    border-color: $SECONDARY_ACCENT_COLOR;
    color: $SECONDARY_ACCENT_COLOR;
}

#nav-search-form {
    margin: 0px;
    padding: 0px;
}

#nav-search-form > .form-group {
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
}

#nav-search-form > .form-group > .form-control {
    margin: 8px 0px 8px 10px;
    width: 250px;
}

.prof-pic-lg{
    max-width: $MAX_PROFPIC_WIDTH;
    max-height: $MAX_PROFPIC_HEIGHT;
}

.page-header {
    border-bottom: 0px;
}

.custom-breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.accent-text{
    font-family: $SECONDARY_FONT;
    color: $MAIN_ACCENT_COLOR;

    &.positive{
        color: $POSITIVE_COLOR;
    }

    &.negative{
        color: $NEGATIVE_COLOR;
    }
}

.assassin-target-area{
    padding-top: .5em;
    padding-bottom: .5em;
}

// Label CSS
.label-danger {
    color: red;
    background-color: $BG_COLOR;
}

.time-col{
    font-family: $SECONDARY_FONT;
}

// Form CSS
.form {
    font-family: $SECONDARY_FONT;
    text-align: center;
}

.form-group {
    border-bottom: 1px solid $MAIN_ACCENT_COLOR;
    margin: 10px 0px;
    padding-bottom: 5px;
}

.form-control {
    margin: 10px 0px;
}

.form-error {
    color: red;
    background-color: $BG_COLOR;
}

.form-success {
    color: green;
    background-color: $BG_COLOR;
}

.btn-submit {
    width: 100%;
    margin: 10px 0px;
}

.form-container-sm {
    margin: auto;
    max-width: 200px;
}

.form-container-md {
    margin: auto;
    max-width: 400px;
}

.form-container-lg {
    margin: auto;
    max-width: 600px;
}

#recent-activity-container {
    .body-side, .body-main{
        display: inline-block;
        vertical-align: top;
    }
    .body-side{
        width: 20%;
    }
    .body-main{
        width: 58%;
    }
}

@-moz-keyframes dangle-anim{
    0%   { @include transformed(rotate(-3deg)); }
  100% { @include transformed(rotate(3deg)); }
}
@-webkit-keyframes dangle-anim{
    0%   { @include transformed(rotate(-3deg)); }
  100% { @include transformed(rotate(3deg)); }
}
@-o-keyframes dangle-anim{
    0%   { @include transformed(rotate(-3deg)); }
  100% { @include transformed(rotate(3deg)); }
}
@keyframes dangle-anim {
  0%   { @include transformed(rotate(-3deg)); }
  100% { @include transformed(rotate(3deg)); }
}
/*
.img-thumbnail.dead-mugshot{
    -webkit-animation: dangle-anim 1s infinite alternate;
    -moz-animation: dangle-anim 1s infinite alternate;
    -o-animation: dangle-anim 1s infinite alternate;
    animation: dangle-anim 1s infinite alternate;

    -webkit-transform-origin: 50% top 0;
    -moz-transform-origin: 50% top 0;
    -o-transform-origin: 50% top 0;
    transform-origin: 50% top 0;

    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}*/

.activity-item .dead-mugshot{
    @include transformed(rotate(3.5deg));
}
.activity-item:last-child .dead-mugshot{
    @include transformed(rotate(-3.5deg));
}

.row:nth-child(even){
    .activity-item .dead-mugshot{
        @include transformed(rotate(-3.5deg));
    }
    .activity-item:last-child .dead-mugshot{
        @include transformed(rotate(3.5deg));
    }
}