@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../fonts/Avenir.ttc") format("truetype"); }
body, html {
  background-color: #f3f0e9;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #1a6666; }
  a:hover {
    color: #1f7a7a; }

hr {
  border-top: 1px solid #aa2c2c; }

.btn.btn-primary {
  background-color: #248f8f;
  border-color: #238b8b; }
  .btn.btn-primary:hover {
    background-color: #2aa3a3;
    border-color: #299f9f; }

#main-header {
  border-bottom: 1px solid #d8ceb8;
  margin-bottom: 0; }

#main-content {
  margin-bottom: 2em; }

#site-title {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aa2c2c; }

#site-header-tabs li > a {
  border-bottom: 1px solid transparent; }
  #site-header-tabs li > a:hover {
    border-bottom: 1px solid #1a6666;
    background-color: #e8efef; }

#user-button {
  border-color: #1a6666;
  color: #1a6666; }

#nav-search-form {
  margin: 0px;
  padding: 0px; }

#nav-search-form > .form-group {
  margin: 0px;
  padding: 0px;
  border-bottom: 0px; }

#nav-search-form > .form-group > .form-control {
  margin: 8px 0px 8px 10px;
  width: 250px; }

.prof-pic-lg {
  max-width: 150px;
  max-height: 150px; }

.page-header {
  border-bottom: 0px; }

.custom-breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0; }

.accent-text {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aa2c2c; }
  .accent-text.positive {
    color: #557825; }
  .accent-text.negative {
    color: #aa2c2c; }

.assassin-target-area {
  padding-top: .5em;
  padding-bottom: .5em; }

.label-danger {
  color: red;
  background-color: #f3f0e9; }

.time-col {
  font-family: Monaco, Consolas, "Lucida Console", monospace; }

.form {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: center; }

.form-group {
  border-bottom: 1px solid #aa2c2c;
  margin: 10px 0px;
  padding-bottom: 5px; }

.form-control {
  margin: 10px 0px; }

.form-error {
  color: red;
  background-color: #f3f0e9; }

.form-success {
  color: green;
  background-color: #f3f0e9; }

.btn-submit {
  width: 100%;
  margin: 10px 0px; }

.form-container-sm {
  margin: auto;
  max-width: 200px; }

.form-container-md {
  margin: auto;
  max-width: 400px; }

.form-container-lg {
  margin: auto;
  max-width: 600px; }

#recent-activity-container .body-side, #recent-activity-container .body-main {
  display: inline-block;
  vertical-align: top; }
#recent-activity-container .body-side {
  width: 20%; }
#recent-activity-container .body-main {
  width: 58%; }

@-moz-keyframes dangle-anim {
  0% {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg); }

  100% {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg); } }
@-webkit-keyframes dangle-anim {
  0% {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg); }

  100% {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg); } }
@-o-keyframes dangle-anim {
  0% {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg); }

  100% {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg); } }
@keyframes dangle-anim {
  0% {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg); }

  100% {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg); } }
/*
.img-thumbnail.dead-mugshot{
    -webkit-animation: dangle-anim 1s infinite alternate;
    -moz-animation: dangle-anim 1s infinite alternate;
    -o-animation: dangle-anim 1s infinite alternate;
    animation: dangle-anim 1s infinite alternate;

    -webkit-transform-origin: 50% top 0;
    -moz-transform-origin: 50% top 0;
    -o-transform-origin: 50% top 0;
    transform-origin: 50% top 0;

    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}*/
.activity-item .dead-mugshot {
  transform: rotate(3.5deg);
  -ms-transform: rotate(3.5deg);
  -moz-transform: rotate(3.5deg);
  -webkit-transform: rotate(3.5deg);
  -o-transform: rotate(3.5deg); }

.activity-item:last-child .dead-mugshot {
  transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  -moz-transform: rotate(-3.5deg);
  -webkit-transform: rotate(-3.5deg);
  -o-transform: rotate(-3.5deg); }

.row:nth-child(even) .activity-item .dead-mugshot {
  transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  -moz-transform: rotate(-3.5deg);
  -webkit-transform: rotate(-3.5deg);
  -o-transform: rotate(-3.5deg); }
.row:nth-child(even) .activity-item:last-child .dead-mugshot {
  transform: rotate(3.5deg);
  -ms-transform: rotate(3.5deg);
  -moz-transform: rotate(3.5deg);
  -webkit-transform: rotate(3.5deg);
  -o-transform: rotate(3.5deg); }
