$BG_COLOR: #F3F0E9;
$MAIN_ACCENT_COLOR: #AA2C2C;
$SECONDARY_ACCENT_COLOR: #1A6666;
$LINK_COLOR: $SECONDARY_ACCENT_COLOR;

$MAX_PROFPIC_WIDTH: 150px;
$MAX_PROFPIC_HEIGHT: 150px;

$MAIN_FONT: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
$SECONDARY_FONT: Monaco, Consolas, "Lucida Console", monospace;

@font-face {
    font-family: "Avenir";
    font-style: normal;
    src: url("../fonts/Avenir.ttc") format("truetype");
}

body, html{
    background-color: $BG_COLOR;
    font-family: $MAIN_FONT;
}

a{
    color: $LINK_COLOR;
    &:hover{
        color: lighten($LINK_COLOR, 5%);
    }
}

hr {
    border-top: 1px solid $MAIN_ACCENT_COLOR;
}

.btn.btn-primary{
    $MAIN_COLOR: lighten($SECONDARY_ACCENT_COLOR, 10%);
    $BORDER_COLOR: darken($MAIN_COLOR, 1%);

    background-color: $MAIN_COLOR;
    border-color: $BORDER_COLOR;
    &:hover{
        background-color: lighten($MAIN_COLOR, 5%);
        border-color: lighten($BORDER_COLOR, 5%);
    }
}

#main-header{
    border-bottom: 1px solid darken($BG_COLOR, 15%);
    margin-bottom: 0;
}

#main-content{
    margin-bottom: 2em;
}

#site-title{
    font-family: $SECONDARY_FONT;
    color: $MAIN_ACCENT_COLOR;
}

#site-header-tabs{
    & li > a{
        border-bottom: 1px solid transparent;

        &:hover{
            border-bottom: 1px solid $SECONDARY_ACCENT_COLOR;
            background-color: mix($SECONDARY_ACCENT_COLOR, #fff, 10%);
        }
    }
}

#user-button{
    border-color: $SECONDARY_ACCENT_COLOR;
    color: $SECONDARY_ACCENT_COLOR;
}

.prof-pic-lg{
    max-width: $MAX_PROFPIC_WIDTH;
    max-height: $MAX_PROFPIC_HEIGHT;
}

.page-header {
    border-bottom: 0px;
}

.custom-breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.accent-text{
    font-family: $SECONDARY_FONT;
    color: $MAIN_ACCENT_COLOR;
}

// Label CSS
.label-danger {
    color: red;
    background-color: $BG_COLOR;
}

.time-col{
    font-family: $SECONDARY_FONT;
}

// Form CSS
.form {
    font-family: $SECONDARY_FONT;
    text-align: center;
}

.form-group {
    border-bottom: 1px solid $MAIN_ACCENT_COLOR;
    margin: 10px 0px;
    padding-bottom: 5px;
}

.form-control {
    margin: 10px 0px;
}

.form-error {
    color: red;
    background-color: $BG_COLOR;
}

.form-success {
    color: green;
    background-color: $BG_COLOR;
}

.btn-submit {
    width: 100%;
    margin: 10px 0px;
}

.form-container-sm {
    margin: auto;
    max-width: 200px;
}

.form-container-md {
    margin: auto;
    max-width: 400px;
}

.form-container-lg {
    margin: auto;
    max-width: 600px;
}