@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../fonts/Avenir.ttc") format("truetype"); }

body, html {
  background-color: #f3f0e9;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #1a6666; }
  a:hover {
    color: #1f7a7a; }

hr {
  border-top: 1px solid #aa2c2c; }

.btn.btn-primary {
  background-color: #248f8f;
  border-color: #238b8b; }
  .btn.btn-primary:hover {
    background-color: #2aa3a3;
    border-color: #299f9f; }

#main-header {
  border-bottom: 1px solid #d8ceb8;
  margin-bottom: 0; }

#main-content {
  margin-bottom: 2em; }

#site-title {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aa2c2c; }

#site-header-tabs li > a {
  border-bottom: 1px solid transparent; }
  #site-header-tabs li > a:hover {
    border-bottom: 1px solid #1a6666;
    background-color: #e8efef; }

#user-button {
  border-color: #1a6666;
  color: #1a6666; }

.prof-pic-lg {
  max-width: 150px;
  max-height: 150px; }

.page-header {
  border-bottom: 0px; }

.custom-breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0; }

.accent-text {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #aa2c2c; }

.label-danger {
  color: red;
  background-color: #f3f0e9; }

.time-col {
  font-family: Monaco, Consolas, "Lucida Console", monospace; }

.form {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: center; }

.form-group {
  border-bottom: 1px solid #aa2c2c;
  margin: 10px 0px;
  padding-bottom: 5px; }

.form-control {
  margin: 10px 0px; }

.form-error {
  color: red;
  background-color: #f3f0e9; }

.form-success {
  color: green;
  background-color: #f3f0e9; }

.btn-submit {
  width: 100%;
  margin: 10px 0px; }

.form-container-sm {
  margin: auto;
  max-width: 200px; }

.form-container-md {
  margin: auto;
  max-width: 400px; }

.form-container-lg {
  margin: auto;
  max-width: 600px; }
