{% extends 'mainapp/base.html' %}
{% block 'title' %}All games{% endblock %}
{% block 'body' %}
    <div class="page-header">
        <h2>
            Games
            {% if user.is_authenticated and user.profile.active %}
                <a href="{% url 'mainapp:create_game' %}" class="btn btn-default">Create New</a>
            {% endif %}
        </h2>
    </div>

    <table class="table game-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Begin Date</th>
                <th>Players</th>
                <th>Game Progress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.start_date }} {% if not game.started %}(est.) {% endif%}</td>
                <td>{{ game.participants.all|length}}</td>
                <td>{% if  game.finished %} Game Ended 
                    {% elif  game.started %}Game In Progress
                    {% else %} Not Started Yet {% endif%}</td>
                <td>
                    <a href="{% url 'mainapp:specific_game' gameSlug=game.slug %}" class="btn btn-primary">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}