{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block 'title' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}" />
    {% block 'styles' %}{% endblock %}
</head>
<body>
    <header id="main-header" class="navbar navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a id="site-title" class="navbar-brand" href="{% url 'mainapp:index' %}">Assassin</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="site-header-tabs" class="nav navbar-nav">
                    <li><a href="{% url 'mainapp:index' %}">Home</a></li>
                    <li><a href="{% url 'mainapp:all_games' %}">Games</a></li>
                    <li><a href="{% url 'mainapp:help' %}">Help</a></li>
                    <!--<li><a href="{% url 'mainapp:about' %}">About</a></li>-->
                </ul>

                {% if user.is_authenticated %}
                    <form id="nav-search-form" class="form navbar-form navbar-left" role="search" action="{% url 'mainapp:search_profile'%}" method="post" >
                        <div class="form-group">
                            <input class="form-control " id="id_username" maxlength="30" name="username" type="text" placeholder="Alias Search">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        {% csrf_token %}
                    </form>
                {% endif %}

                <div class="pull-right">
                    {% if user.is_authenticated %}
                        <!-- button to use for the logged in user -->
                        <div class="btn-group navbar-btn">
                            <button id="user-button"
                                type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span>{{ user.username }}</span>
                                {% if user.first_name or user.last_name %}
                                    <small>({{ user.first_name }} {{ user.last_name }})</small>
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="{% url 'mainapp:view_profile' user.username|urlencode:"" %}">
                                        <span class="glyphicon glyphicon-user"></span>&nbsp
                                        Profile&nbsp
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'mainapp:logout' %}">
                                        <span class="glyphicon glyphicon-off"></span>&nbsp
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'mainapp:login' %}" type="button" 
                           class="btn btn-primary navbar-btn">Login</a>
                        <a href="{% url 'mainapp:register' %}" type="button" 
                           class="btn btn-default navbar-btn">Register</a>
                    {% endif %}
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </header>

    <div id="main-content" class="container">
        {% for error in errors%}
            <div class="alert alert-danger" style="margin-top: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error }}
            </div>
        {% endfor%}

        {% for message in messages %}
            <div class="alert alert-danger" style="margin-top: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{  message }}
            </div>
        {% endfor%}
  
  
        {% for news in goodnews%}
            <div class="alert alert-success" style="margin-top: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ news }}
            </div>
        {% endfor%}

        {% if user.is_authenticated and not user.profile.active %}
            <div class="alert alert-success" style="margin-top: 10px;">
                Please confirm your account through your email. The Email might have arrived in your spam folder.
            </div>
        {% endif %}

        {% if confirmed %}
            <div class="alert alert-success" style="margin-top: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ confirmed }}
            </div>
        {% endif %}

        {% if please_confirm %}
            <div class="alert alert-success" style="margin-top: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ please_confirm }}
            </div>
        {% endif %}

        {% block 'body' %}{% endblock %}

        <hr>
        <small>
            <strong>Disclaimer:</strong> This website, its creators, and the game in no way condone actual violence against any person or group of people. The game of Assassins (<a href="http://en.wikipedia.org/wiki/Assassin_(game)">wikipedia page</a>) is a <strong>GAME</strong> meant only for the entertainment of all participants. Be kind.
        </small>
    </div><!-- /.container -->

    <script src="{% static 'mainapp/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
    {% block 'scripts' %}{% endblock %}
</body>
</html>