{% extends 'mainapp/base.html' %}

{% block 'body' %}
<div class="form-container-lg">
	<form class="form" method="post" action="{% url 'mainapp:create_game' %}">
		<h2 class="form-signin-heading">Create A Game</h2>
	    {% csrf_token %}
	    {% include 'mainapp/renderForm.html' with form=form %}
	    <button id="post_button" class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Submit</button>
	</form>
</div>

{% endblock %}