{% extends 'mainapp/base.html' %}
{% block 'title' %}Editing {{ user.username }}{% endblock %}

{% block 'body' %}
<div class="page-header">
    <h2>
        Editing {{ user.username }} <small>({{ user.first_name }} {{ user.last_name }})</small>
        <a href="{% url 'mainapp:edit_profile' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span> Reset unsaved changes
        </a>
    </h2>
    <a href="{% url 'mainapp:view_profile' user %}">&laquo; Back to profile</a>
</div>

<div class="container col-sm-2">
    <img class="prof-pic-lg img-rounded" 
         src="{% include 'mainapp/getProfPicSrc.html' with picUser=user %}"
    />
</div>
<div class="form-container-lg">
    <form class="form" method="post" action="{% url 'mainapp:edit_profile' %}" enctype="multipart/form-data">
        {% if messages %}
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {% include 'mainapp/renderForm.html' with form=editForm %}
        <button id="post_button" class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}