{% extends 'mainapp/base.html' %}
{% block 'title' %}{{game.name}}{% endblock %}
{% block 'body' %}
    <div class="page-header">
        <h1>{{ game.name }}</h1>

        {% if game.auto_approve %}
            <h4><span class="label label-success">Auto Approve Enabled</span></h4>
        {% else %}
            <h4><span class="label label-warning">Auto Approve Disabled</span></h4>
        {% endif %}

        <ol class="breadcrumb custom-breadcrumb">
            <li><a href="{% url 'mainapp:all_games' %}">All games</a></li>
            <li class="active">{{ game.name }}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4 time-col text-center">
            <h1>Start Time</h1>
            <hr>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4 time-col text-center">
            <h1>End Time</h1>
            <hr>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
    <div class="row">
        {% if game.finished %}
            <div class="col-xs-6 time-col text-center">
                <h3 class="time">{{ game.start_date }}</h3>
            </div>
            <div class="col-xs-6 time-col text-center">
                <h3 class="time">{{ lastevent.time_of_death }}</h3>
            </div>
        {% elif game.started %}
            <div class="col-xs-6 time-col text-center">
                <h3 class="time">{{ game.start_date }}</h3>
            </div>
            <div class="col-xs-6 time-col text-center">
                <h3>In Progress</h3>
            </div>
        {% else %}
            <div class="col-xs-6 time-col text-center">
                <h3 class="time">(Estimated) {{ game.start_date }}</h3>
            </div>
            <div class="col-xs-6 time-col text-center">
                <h3>Yet to Begin</h3>
            </div>
        {% endif %}
    </div>
    <hr>
    
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-xs-6">
                {% if participant %}

                    {% if requested_participant %}
                        <h2><small>You requested to join this game</small></h2>
                    {% else %}
                        <h2><small>You are participating in this game</small></h2>
                    {% endif %}

                    {% if not game.started %}
                        <a href="{% url 'mainapp:leave_game' game.slug %}" class="btn btn-default">Leave Game</a>
                    {% endif %}
                    {% if view_target %}
                        <a href="{% url 'mainapp:get_target' game.slug %}" class="btn btn-primary">Your current target</a>
                    {% elif game.finished and game.winner == user %}
                        <p class="accent-text positive">You are the winner of this tournament.</p>
                    {% elif game.started and not view_target %}
                        <p class="accent-text negative">You have been eliminated from the game.</p>
                    {% endif %}
                    {% if report %}
                        <a href="{% url 'mainapp:report_event' game.slug %}" class="btn btn-default">Report Assassination</a>
                    {% endif %}
                {% else %}
                    {% if accept_invite %}
                        <h2><small>You are not participating in this game but you have been invited to join</small></h2>
                        <a href="{% url 'mainapp:join_game' game.slug %}" class="btn btn-default">Accept Invite</a>
                        <a href="{% url 'mainapp:leave_game' game.slug %}" class="btn btn-default">Decline Invite</a>
                    {% else %}
                        <h2><small>You are not participating in this game</small></h2>
                    {% endif %}
                    {% if can_join %}
                        <a href="{% url 'mainapp:join_game' game.slug %}" class="btn btn-default">Join Game</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-xs-6">
                {% if is_admin %}
                    <h2><small>You are an admin for this game</small></h2>
                    <!--<a href="#remove-admin-status" class="btn btn-default">Remove Admin Status</a>-->
                    {% if not game.started %}
                        <h2><small>You need to manually press the start game button to begin the game <br> </small></h2>
                        <a href="{% url 'mainapp:start_game' game.slug %}" class="btn btn-default">Start Game</a>
                    {% endif %}


                    {% if not game.finished %}
                        <a href="{% url 'mainapp:delete_game' game.slug %}" class="btn btn-default">Delete Tournament</a>
                    {% endif %}
                    {% if not game.started %}
                        <a href="{% url 'mainapp:invite_people' game.slug %}" class="btn btn-default">Invite People</a>
                    {% endif %}
                    {% if not game.finished %}
                    <a href="{% url 'mainapp:invite_admin_people' game.slug %}" class="btn btn-default">Invite Admin</a>
                    {% endif %}
                {% else %}
                    <h2><small>You are not an admin for this game</small></h2>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endif %}

   
    <header>
        <h2>
            <span>Leaderboard</span>
            <small>{{game.participants.all|length}} current players</small>
            <a href="{% url 'mainapp:game_history' game.slug %}"
               class="pull-right btn btn-default">View game history</a>
        </h2>
    </header>
        {% if activeGameParticipants.all|length or game.participants.all|length %}
            <table class="table">
            {% if activeGameParticipants.all|length %}
                <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in activeGameParticipants.all %}
                    <tr>
                        <td>{{participant.person.username}}</td>
                        <td>
                            {% if participant.is_dead %}
                            <span class="accent-text negative">Dead at {{ participant.time_of_death }}</san>
                            {% elif game.finished %}
                            <span class="accent-text positive">Winner</span>
                            {% else %}
                            <span class="accent-text positive">Alive</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'mainapp:user_game_history' game.slug participant.person.username %}" class="btn btn-default">History</a>
                        </td>
                        
                        
                        

                    </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <thead>
                    <tr>
                        <th>Alias</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in game.participants.all %}
                    <tr>
                        <td>{{user.username}}</td>
                        {% if not game.started and is_admin %} <td>
                        <a href="{% url 'mainapp:remove_player' game.slug user.id %}" class="btn btn-default">Kick Player Out</a>
                    </td>
                    {% endif %}
                    </tr>

                    {% endfor %}
                </tbody>
            {% endif %}
            </table>
        {% endif %}
    {% if not game.auto_approve and game.requested_participants.all|length %}
        <p>Current Waiting To Be Approved Participants ({{game.requested_participants.all|length}})</p>
            {% if game.requested_participants.all|length %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                             {% if is_admin %}
                            <th>Approve/Deny</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in game.requested_participants.all %}
                        <tr>
                            <td>{{user.username }}</td>
                             {% if is_admin %}
                            <td>
                                <a href="{% url 'mainapp:approve' game.slug user.id 1 %}" class="btn btn-default">Approve</a>
                                <a href="{% url 'mainapp:approve' game.slug user.id 0 %}" class="btn btn-default">Reject</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No Current Participants
            {% endif %}
    {% endif %}
    {% if game.invited_participants.all|length %}
        <p>Currently Invited Participants ({{game.invited_participants.all|length}})</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in game.invited_participants.all %}
                        <tr>
                            <td>{{user.username }}</td>
                            {% if is_admin %}
                            <td>
                                <a href="{% url 'mainapp:approve' game.slug user.id 0 %}" class="btn btn-default">Uninvite</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    {% endif %}


    {% if game.admins.all|length  %}
    <p>Admins ({{game.admins.all|length}})</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Alias</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in game.admins.all %}
                    <tr>
                        <td>{{admin.username}}</td>
                        {% if is_admin  %} {% if admin != user %}
                            <td>
                                <a href="{% url 'mainapp:remove_admin' game.slug admin.id %}" class="btn btn-default">Remove Admin</a>
                            </td>
                            {% endif %}{% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
{% endblock %}
