{% extends 'mainapp/base.html' %}
{% block 'title' %}{{game.name}}: Your target{% endblock %}
{% block 'body' %}
    <div class="page-header">
        <h1>{{ game.name }}</h1>
        <ol class="breadcrumb custom-breadcrumb">
            <li><a href="{% url 'mainapp:all_games' %}">All games</a></li>
            <li><a href="{% url 'mainapp:specific_game' game.slug %}">{{ game.name }}</a></li>
            <li class="active">Target</li>
        </ol>
    </div>
    <h3 class="text-center accent-text">Your current target is</h3>
    <div class="assassin-target-area jumbotron text-center inset">
        <h1>
            <span>{{ target.first_name }} {{ target.last_name }}</span>
        </h1>
        <p>
            <img src="{% include 'mainapp/getProfPicSrc.html' with picUser=target %}" class="img-rounded"/>
        </p>
        <h1>
            <small>(a.k.a. {{target.username}})</small>
        </h1>
    </div>
{% endblock %}