{% extends 'mainapp/base.html' %}

{% block 'body' %}
<h2 class="page-header">How to use this site</h2>
<p>To use this site, first register and confirm an account.</p>
<p>Once registered, you can create and join games.</p>
<h3>Administrating a game</h3>
<p>To manage a game, click "Create New" and invite the users you would like to join the game. (Other people may also choose to join the game.)</p>
<p>Once you're ready to start game, make sure to manually click the "Start Game" on its page.</p>
<h3>Playing a game</h3>
<p>If you have been invited to a game, you can choose to respond to the invite, either through the invite email, through your user profile, or on the game page itself.</p>
<p>Once you have assassinated a player or have been assassinated yourself, report the event on the game page. Once both involved parties have reported the assassination, the game will reassign targets.</p>


{% endblock %}