{% extends 'mainapp/base.html' %}
{% block 'title' %}{{game.name}}: History{% endblock %}
{% block 'body' %}
<div class="page-header">
    <h1>{% if personal_history %} {{ user.username}}'s History
        {% else %}Full Tournament History
        {% endif %}</h1>
    <ol class="breadcrumb custom-breadcrumb">
        <li><a href="{% url 'mainapp:all_games' %}">All games</a></li>
        <li><a href="{% url 'mainapp:specific_game' game.slug %}">{{ game.name }}</a></li>
        {% if personal_history %}
        <li class="active"> {{ user.username}}'s History for This Tournament</li>
        {% else %}
        <li class="active">Full Tournament History</li>
        {% endif %}
    </ol>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th><!-- icon goes here --></th>
            <th>Event</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for event in history %}
        {% if event.assassinReported and event.targetReported %}
        <tr>
            <td><span class="glyphicon glyphicon-screenshot"></span></td>
            <td>
                <span>{{event.assassin.username}}</span>
                <span class="accent-text">eliminated</span>
                <span>{{event.target.username}}</span>
            </td>
            <td>{{event.death}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% if game.finished and show_winner %}
        <tr>
            <td><span class="glyphicon glyphicon-screenshot"></span></td>
            <td>
                <span>{{game.winner.username}}</span>
                <span class="accent-text">won the tournament</span>
            </td>
             <td>{{game.end_date}}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}