{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block 'title' %}Index{% endblock %}
{% block 'scripts' %}<script src="{% static 'mainapp/js/index.js' %}"></script>{% endblock %}

{% block 'body' %}
    <div class="page-header">
        <h2 class="accent-text">Assassin: The Game</h2>
    </div>
    <p><a href="http://en.wikipedia.org/wiki/Assassin_(game)">Assassin</a> is a social game in which players attempt to tag ("assassinate") other players to become the last standing player.</p>
    <hr>
    <div id="recent-activity-container" hidden>
        <header><h3>Recent activity</h3></header>
        <div class="activity-list">
            <!--
            <div class="row">
                <div class="activity-item col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Panel heading</h4></div>
                        <div class="panel-body text-center">
                            <img class="body-side img-thumbnail" src="http://placecosby.com/100/?image=1"/>
                            <div class="body-main">
                                <p>Bill</p>
                                <p class="accent-text">eliminated</p>
                                <p>William</p>
                                <p><small>April 4, 2014</small></p>
                            </div>
                            <img class="body-side dead-mugshot img-thumbnail" src="http://placecosby.com/100/?image=2"/>
                        </div>
                    </div>
                </div>
                <div class="activity-item col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Panel heading</h4></div>
                        <div class="panel-body text-center">
                            <img class="body-side img-thumbnail" src="http://placecosby.com/100/?image=3"/>
                            <div class="body-main">
                                <p>Bill</p>
                                <p class="accent-text">eliminated</p>
                                <p>William</p>
                                <p><small>April 4, 2014</small></p>
                            </div>
                            <img class="body-side dead-mugshot img-thumbnail" src="http://placecosby.com/100/?image=4"/>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}