{% extends 'mainapp/base.html' %}
{% block 'title' %}Index{% endblock %}
{% block 'body' %}
<div class="form-container-md">
    {% for error in form.non_field_errors %}
        <h3><div class="label-danger">{{error}}</div></h3>
    {% endfor %}

    <form class="form" role="form" method="post" action="{% url 'mainapp:login' %}">
        <!--h2 class="form-signin-heading">Authenticate</h2-->

        <input type="text" class="form-control" placeholder="Alias" name="{{ form.username.name }}">
        <input type="password" class="form-control" placeholder="{{ form.password.label }}" name="{{ form.password.name }}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Authenticate</button>

        <a href="{% url 'mainapp:forgot_password' %}">Forgot password?</a>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        {% csrf_token %}
    </form>
</div>
{% endblock %}