{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block 'title' %}Profile for {{ profileUser.username }}{% endblock %}

{% block 'body' %}
<div class="page-header">
    <h2>
        {{ profileUser.username }} <small>({{ profileUser.first_name }} {{ profileUser.last_name }})</small> 
        {% if profileUser == user %}
        <a href="{% url 'mainapp:edit_profile' %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit your profile</a>
        {% endif %}
    </h2>
</div>

<div class="container col-xs-2">
    <img class="prof-pic-lg img-rounded" src="{% include 'mainapp/getProfPicSrc.html' with picUser=profileUser %}"/>
</div>

<div class="container col-xs-10">
    {% if playing %}
        <div class="row">
            <div class="col-xs-12">
                <h4>Participating in</h4>
                {% for game in profileUser.participantIn.all %}
                {% if not game.finished %}
                    <div class="row" style="margin-bottom: 10px"><div class="col-xs-12">
                        <a href="{% url 'mainapp:specific_game' game.slug %}" class="btn btn-default btn-block">{{ game.name }}</a>
                    </div></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row"><div class="col-xs-12"><h4>Not participating in any current games :(</h4></div></div>
    {% endif %}
    {% if finished %}
        <div class="row">
            <div class="col-xs-12">
                <h4>Participated in</h4>
                {% for game in profileUser.participantIn.all %}
                {% if game.finished %}
                    <div class="row" style="margin-bottom: 10px"><div class="col-xs-12">
                        <a href="{% url 'mainapp:specific_game' game.slug %}" class="btn btn-default btn-block">{{ game.name }}</a>
                    </div></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if profileUser.invitedParticipants and profileUser.invitedParticipants.all|length > 0 %}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h4>Invited To</h4>
                {% for game in profileUser.invitedParticipants.all %}
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-xs-8">
                            <a href="{% url 'mainapp:specific_game' game.slug %}" class="btn btn-default btn-block">{{ game.name }}</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{% url 'mainapp:join_game' game.slug %}" class="btn btn-default">Accept Invite</a>
                            <a href="{% url 'mainapp:leave_game' game.slug %}" class="btn btn-default">Decline Invite</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}