{% comment %}
    Usage:
    {% include 'mainapp/renderForm.html' with form=form %}
{% endcomment %}

{% if form %}
<div>
    {% for error in form.non_field_errors %}
        <div class="form-error">{{ error|escape }}</div>
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="form-error">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    {% for hiddenfield in form.hidden_fields %}
        {{ hiddenfield|escape }}
    {% endfor %}
</div>
{% endif %}