{% extends 'mainapp/base.html' %}

{% block 'body' %}
<div class="form-container-md">
    <form class="form" role="form" method="post" enctype="multipart/form-data" action="{% url 'mainapp:report_event' form.slug.value %}">
        {% csrf_token %}
        {% include 'mainapp/renderForm.html' with form=form %}
        <button id="post_button" class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Submit</button>
    </form>
</div>

{% endblock %}